@inherits ClientBasePage
@page "/counter"

<h1>Counter</h1>

<p>Current count: @_state.Value</p>

<button class="btn btn-primary" @onclick="this.OnClick">Click me</button>
<button class="btn btn-secondary" @onclick="this.OnReset">Reset</button>
